<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>Inventoora</q-toolbar-title>
      </q-toolbar>
    </q-header>
    
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        
        <q-item clickable to="/Stavka">
          <q-item-section avatar>
            <q-icon name="book" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Stavke</q-item-label>
          </q-item-section>
        </q-item>
        
        <q-item clickable to="/Zaposlenik">
          <q-item-section avatar>
            <q-icon name="accessibility" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Zaposlenici</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        
        <q-item clickable @click="home">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        
        <q-separator />
        
        <q-item clickable @click="logout">
          <q-item-section avatar>
            <q-icon name="power_settings_new" />
          </q-item-section>
          <q-item-section>
            <q-item-label>LogOut</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    
    <q-page-container>
      <router-view />
      <!-- <q-page padding>
        <div class="q-pa-md">
          <q-card class="my-card">
            <q-card-section>
              <div class="text-h6">Dobrodošli u Inventoora</div>
            </q-card-section>
            <q-card-section>
              <p>Ovo je vaš centralni sustav za upravljanje inventarom.</p>
            </q-card-section>
          </q-card>

          <q-separator />

          <q-card class="my-card">
            <q-card-section>
              <div class="text-h6">Stavke</div>
            </q-card-section>
            <q-card-section>
              <p>Upravljajte stavkama u vašem inventaru. Dodajte, uređujte ili uklonite stavke prema potrebi.</p>
            </q-card-section>
          </q-card>

          <q-card class="my-card">
            <q-card-section>
              <div class="text-h6">Zaposlenici</div>
            </q-card-section>
            <q-card-section>
              <p>Pregledajte i upravljajte informacijama o zaposlenicima.</p>
            </q-card-section>
          </q-card>
        </div>
      </q-page> -->
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { getAuth } from 'firebase/auth';

export default {
  name: 'InventooraLayout',
  setup() {
    const leftDrawerOpen = ref(false);
    const router = useRouter();
    const auth = getAuth();

    const logout = () => {
      auth.signOut().then(() => {
        router.push('/');
      });
    };

    const home = () => {
      router.push('/');
    };

    return {
      leftDrawerOpen,
      logout,
      home
    };
  }
};
</script>