<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 500px">
      <q-table
        v-if="isMounted"
        title="Stavka Inventar"
        :rows="stavke"
        :columns="columns"
        row-key="stavkaID"
        flat
      >
        <template v-slot:top>
          <q-btn color="primary" label="Dodaj stavku" @click="onNewRow" />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Stavka</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="naziv"
            :error="!stavkaInv.naziv || stavkaInv.naziv.length === 0"
            error-message="Naziv je obavezan."
            label="Naziv"
            v-model="stavkaInv.naziv"
          />
          <q-input
            ref="ukupKol"
            :error="!stavkaInv.ukupKol || stavkaInv.ukupKol.length === 0"
            error-message="ukupKol je obavezna."
            label="ukupKol"
            v-model="stavkaInv.ukupKol"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="onOKClick" />
          <q-btn color="primary" label="Cancel" @click="onCancelClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {
  collection,
  getDocs,
  addDoc,
  doc,
  setDoc,
  deleteDoc,
} from "firebase/firestore";
import { reactive } from "vue";
import app from "../../boot/InventooraSetup.js";

export default {
  name: "StavkeIndex",
  data() {
    return {
      openDialog: false,
      stavkaInv: reactive({
        stavkaID: null,
        naziv: null,
        ukupKol: null,
      }),
      isMounted: false,
      stavke: [],
      columns: [
        {
          name: "naziv",
          label: "Naziv",
          align: "left",
          field: "naziv",
          sortable: true,
        },
        {
          name: "ukupKol",
          label: "ukupKol",
          align: "left",
          field: "ukupKol",
          sortable: true,
        },
        {
          name: "actions",
          label: "Actions",
          align: "left",
          field: null,
          sortable: false,
        },
      ],
      db: app.config.globalProperties.$db,
    };
  },
  async mounted() {
    const collectionRef = collection(this.db, "stavkaInv");
    try {
      const snapshot = await getDocs(collectionRef);
      snapshot.forEach((doc) => {
        this.stavke.push({ ...doc.data(), stavkaID: doc.id });
      });
      this.isMounted = true;
    } catch (error) {
      console.error("Error fetching documents: ", error);
    }
  },
  methods: {
    onNewRow() {
      this.stavkaInv = { stavkaID: null, naziv: null, ukupKol: null };
      this.openDialog = true;
    },
    async onOKClick() {
      if (!this.$refs.naziv.hasError && !this.$refs.ukupKol.hasError) {
        const collectionRef = collection(this.db, "stavkaInv");
        try {
          if (this.stavkaInv.stavkaID === null) {
            const docRef = await addDoc(collectionRef, this.stavkaInv);
            await setDoc(
              doc(this.db, "stavkaInv", docRef.id),
              { stavkaID: docRef.id },
              {
                merge: true,
              }
            );
            this.stavkaInv.stavkaID = docRef.id;
            this.stavke.push(this.stavkaInv);
          } else {
            const docRef = doc(this.db, "stavkaInv", this.stavkaInv.stavkaID);
            await setDoc(docRef, this.stavkaInv);
            const index = this.stavke.findIndex(
              (stavka) => stavka.stavkaID === this.stavkaInv.stavkaID
            );
            if (index !== -1) {
              this.stavke[index] = { ...this.stavkaInv };
            }
          }
          this.openDialog = false;
        } catch (error) {
          console.error("Error adding/updating document: ", error);
        }
      }
    },
    onCancelClick() {
      this.openDialog = false;
    },
    onUpdateRow(stavka) {
      this.stavkaInv = { ...stavka };
      this.openDialog = true;
    },
    async onDeleteRow(row) {
      this.$q
        .dialog({
          title: "Delete",
          message: "Confirm deletion.",
          ok: true,
          cancel: true,
        })
        .onOk(async () => {
          const docRef = doc(this.db, "stavkaInv", row.stavkaID);
          try {
            await deleteDoc(docRef);
            const index = this.stavke.findIndex(
              (stavka) => stavka.stavkaID === row.stavkaID
            );
            if (index >= 0) {
              this.stavke.splice(index, 1);
            }
          } catch (error) {
            console.error("Error removing document: ", error);
          }
        });
    },
  },
};
</script>
